
*.ide
*.lock
source/FaceRecognitionGUI/.vs/FaceRecognitionGUI2015/v15/.suo
*.ide-wal
*.ide-shm
source/FaceRecognitionGUI/.vs/FaceRecognitionGUI/v15/.suo
*.vcxproj
*.vcxproj
*.ipch
*.opendb
*.db
source/ExternalDLL/.vs/ExternalDLL2017/v15/.suo
*.vcxproj
*.vcxproj
*.vcxproj
